<pre class="code">
&lt;!DOCTYPE daisyduckcfg&gt;\n
&lt;daisyduckcfg&gt;\n
 &lt;custom&gt;\n
  &lt;title&gt;__XMLCFG_TITLE__&lt;/title&gt;\n
  &lt;text&gt;__XMLCFG_TEXT__&lt;/text&gt;\n
 &lt;/custom&gt;\n
 &lt;onlinebook&gt;\n
  &lt;uri&gt;http://some.website/daisyduck.php&lt;/uri&gt;\n
  &lt;uriparam&gt;\n
   &lt;param value="" name="username" label="__XMLCFG_USERNAME__" /&gt;\n
   &lt;param value="" name="password" label="__XMLCFG_PASSWORD__" /&gt;\n
  &lt;/uriparam&gt;\n
 &lt;/onlinebook&gt;\n
 &lt;bookmark&gt;\n
  &lt;hash&gt;c44b29a8406d8eba88c01d7da3eab1b4426f826b&lt;/hash&gt;\n
  &lt;position node="1" smil="8" /&gt;\n
 &lt;/bookmark&gt;\n
 &lt;bookmark&gt;\n
  &lt;hash&gt;e7545d24635dd658bf08aa40ae7946fe2c1c64cc&lt;/hash&gt;\n
  &lt;position node="3" smil="25" /&gt;\n
 &lt;/bookmark&gt;\n
 &lt;bookmark&gt;\n
  &lt;hash&gt;c0d38c60852b868dd7135a6523ae562e3c49a2df&lt;/hash&gt;\n
  &lt;position node="1" smil="3" /&gt;\n
 &lt;/bookmark&gt;\n
&lt;/daisyduckcfg&gt;
</pre>
